<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCS0vPe7ar-ZEo6yy9upV25D_WJUFk1FQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>910982850712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mapfeatureProject</string>
	<key>PROJECT_ID</key>
	<string>graduation-mental-chatbot</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-mental-chatbot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910982850712:ios:439c3cc7e6b7dc0517c8ed</string>
</dict>
</plist>